# Xcode
*/build
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
project.xcworkspace
*.xccheckout
*.xcscmblueprint

# osx noise
.DS_Store
profile

build
Build
Logs
CoreSimulator-Logs
DTXConnection-Logs
Builds
Development
Releases
Products
artifacts
documentation/

# automated git versioning
InfoPlist.h

.Rakeconfig
.Rakeconfig.staging
.bundle/*
!.bundle/config

# ignore static libraries
!Extras/SQLCipher/binaries/*.a

# Address sanitizer
*.gcda
*.gcno

# jenkins output
xcodebuild.txt

*.dSYM

#jazzy
jazzy-docs/build
jazzy-docs/docs

# fastlane
fastlane/README.md
fastlane/report.xml

# Slather coverage
slather-report

# Ruby coverage
coverage

# Ruby documentation
/doc/
/.yardoc

# Test snapshots
TestSnapshots

# Swift Package Manager
.swiftpm
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Package.resolved
/Packages
DerivedData/
